<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Target" value="C:\inetpub\logs\LogFiles;C:\ZZTXData\WebRoot\Log*,WxEventLog*,weixin_suitecallback*"/>
    <add key="MaxDays" value="7"/>
  </appSettings>
</configuration>