<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
  </configSections>
  
  <dataConfiguration defaultDatabase="MySQLConn"/>
  <connectionStrings>
    <add name="MySQLConn" connectionString="Database=saascrm_fileappraise;Server=10.66.155.63;PORT=3306;uid=root;pwd=zztx123!@#" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>

  <appSettings>

    <add key="MonitorDirs" value="C:\Users\CJM\Pictures"/>
    <add key="MonitorFileExt" value=".jpg;.png;.gif;.bmp"/>

    <add key="MonitorInterval" value="30"/>

    <add key="UrlReplacePattern" value="F:\GlobalStorePoint|http://files.handday.cn:9020;F:\UserUploadFiles|http://annex2.handday.cn:9020"/>

    <add key="CLOUD_appid" value="10006626"/>
    <add key="CLOUD_bucket" value="zztxsm"/>
    <add key="CLOUD_secretID" value="AKIDxreKsJlptqfMvTcQiy7Oh8zx4AB7rgZq"/>
    <add key="CLOUD_secretkey" value="HPMgv1wjLPOMCrPmxxteDi3GH7lEYhji"/>
    <add key="CLOUD_url" value="http://service.image.myqcloud.com/detection/porn_detect"/>
    

  </appSettings>

  <loggingConfiguration name="CRM_RuntimeLog" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="CRM_RuntimeLog_listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="Log/runtime.txt" formatter="CRM_RuntimeLog_Formatter" rollInterval="Day" maxArchivedFiles="10240"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}" name="CRM_RuntimeLog_Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="CRM_RuntimeLog_listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="CRM_RuntimeLog_listener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

</configuration>