<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--设置域名下的子模式，例如：http://maintain.handday.cn /test1,/test2,/boottimer-->
    <add key="http://maintain.handday.cn" value="/boottimer" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>